body {
    background: #222;
}

.vjs-default-skin .vjs-big-play-button {
    font-size: 7em;
}
.video-js-responsive-container {
    width: 100%;
}
.video-js-responsive-container .video-js {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}