body {
  height: 100vh;
}

html {
  height: 100vh;
}

img:not([src]) {
  visibility: hidden;
}

.darkmode--activated .dark-enabled {
    filter: invert(100%);
}

.darkmode--activated .table-border {
    isolation: isolate;
}

.darkmode--activated .table-wrapper {
    mix-blend-mode: difference;
}

pre {
    isolation: isolate;
}

.entry-header-bg {
    border-right: .1mm solid #d4d3d3 !important;
}

.darkmode--activated .entry-header-bg {
    border-right: .1mm solid #333 !important;
}

.darkmode--activated .site-logo {
    filter: invert(100%);
}

.darkmode--activated .site-header {
    background: #000;
}

.darkmode--activated .search-result {
    background: #333;
}

.darkmode--activated .search-scrollwrap {
    box-shadow: none;
}

.darkmode--activated .search-result-list h2, .darkmode--activated .search-result-list p, .darkmode--activated .search-result-meta {
    color: #FFF;
}

.darkmode--activated .search-result-list li {
    box-shadow: 0 -0.1rem 0 #777;
}

.darkmode--activated .main-navigation  {
    background: #303030;
    color: #fff;
    transition: none !important;
}

.darkmode--activated .main-navigation a:hover  {
    color: #fff;
}

.darkmode--activated .content-area  {
    background: #ccc;
}

.darkmode--activated .site-content  {
    background: #ccc;
}

.darkmode--activated .entry-inner {
    background: #ddd;
}

.darkmode--activated .site-footer {
    background: #000;
}

.darkmode--activated .svg-menu-toggle {
    color: #fff;
}

.darkmode--activated .svg-search {
    color: #fff;
}

.darkmode--activated #disqus_thread {
    isolation: isolate;
    background: #ccc;
    padding: 30px;
}

.darkmode-background {
    background: transparent !important;
}

.dark-toggle {
    cursor: pointer;
    display: inline-block;
    padding-left: 20px;
}

.dark-toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 48px;
    height: 22px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
    top: -2px;
}

.dark-toggle-switch:before, .dark-toggle-switch:after {
    content: "";
}

.dark-toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.dark-toggle:hover .dark-toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.dark-toggle-checkbox:checked + .dark-toggle-switch {
    background: #4c4b52;
}

.dark-toggle-checkbox:checked + .dark-toggle-switch:before {
    left: 30px;
}

.dark-toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.dark-toggle-label {
    margin-left: 5px;
    position: relative;
}

.sticky-header {
    position: fixed;
    box-shadow: 0 2px 2px -2px gray;
    right: 0;
    left: 0;
    z-index: 999;
}

.main-navigation  {
    overscroll-behavior: contain;
}

.centered {
    text-align: center;
}

#navbar {
    top: 0;
    transition: top 0.5s;
}

#footbar {
    bottom: 0;
    transition: bottom 0.5s;
}

.body-padding {
    margin-top: 100px;
}

.rel-item {
    background-color: #F5F5F5;
    width: 350px;
}

.rel-item__title {
    font-size: 21px;
    height: 160px;
}

.rel-item:before {
    display: none;
}

.rel-item__icon {
    width: 78px;
    height: 78px;
    right: -10px;
}

.rel-item__icon img {
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 768px) {
    .rel-item {
        margin: 0 0 25px;
    }
}

.italic-link {
    font-style: italic;
}

.hentry-border {
    border: 1px solid #d4d3d3 !important;
}

.page-content, .entry-header, .entry-content, .entry-footer {
    max-width: 1000px;
}

.site-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 899;
}

.search-icon-x {
    position: absolute;
    transition: color .25s cubic-bezier(.1,.7,.1,1),opacity .25s;
    color: #000;
    color: rgba(0,0,0,.54);
    cursor: pointer;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    speak: none;
    word-wrap: normal;
    direction: ltr;
    flex: 0 auto;
    z-index: 2;
}

.search-input {
    position: relative;
    padding: 0 4rem 0 1rem !important;
    text-overflow: ellipsis;
    border: 0 !important;
    color: #000;
    color: rgba(0,0,0,.87);
    outline: 0;
    z-index: 1;
    width: 100%;
    height: 2.8rem;
    font-size: 1rem;
    font-style: italic;;
}

.search-result-list {
    margin: 0;
    padding: 0;
    border-top: .1rem solid rgba(0,0,0,.07);
    list-style: none;
    max-height: 500px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

.menu-social a, .menu-social a:visited {
    color: #e6e6e6;
}

.menu-social a:hover, .menu-social a:focus, .menu-social a:active {
    background-color: transparent;
    color: #ffffff;
}

.menu-social a {
     background-color: transparent;
     border-bottom: none;
     border-radius: 0;
     display: inline;
     position: relative;
     width: auto;
     height: auto;
}

.menu-social {
    font-size: .8em;
    position: relative;
    top: -30px;
}

.main-navigation {
    background-color: #fff;
    padding: 5em 1.25rem 0 2.5rem;
    position: fixed;
    top: -60px;
    bottom: 0;
    right: -110%;
    width: 340px;
    transition: all .5s ease;
    z-index: 1000;
}

div.table-wrapper {
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
}

table thead tr th {
  text-align: left;
  padding-left:10px !important;
  position: sticky;
  top: 0px;
  background-color: #373737;
  color: #fff;
  font-size: 1.125rem;
}

table td {
  padding-left:10px !important;
  font-size: 1.125rem;
}

.backer {
    float: left;
    position: relative;
    top: 2px;
}

.site-logo {
	transition: all .2s ease-in-out;
}

.site-logo:hover {
    transform: scale(1.05);
}

.site-footer a{
    border-bottom: none;
    text-transform: none;
}

.backer-logo {
    max-height: 20px;
    margin-left: 2px;
    position: relative;
    top: 3px;
}

.copyright {
    float: right;
    position: relative;
    top: 4px;
}

.copyright a {
    text-transform: uppercase;
}

.plugin-thumb {
    width: 50%;
    border-radius: .5em;
    border: 5px solid #f2f2f2;
    background-color: #f2f2f2;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 4px 5px;
}

.plugin-thumb:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.04);
}

.image-border {
    border-radius: .5em;
    border: 5px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 4px 5px;
    isolation: isolate;
}

.iframe-border {
    border-radius: .5em;
    border: 5px solid #f2f2f2;
    background: url(/images/loader.gif) center center no-repeat;
    background-color: #f2f2f2;
    padding: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 4px 5px;
    isolation: isolate;
}

.iframe-no-border {
    background: url(/images/loader.gif) center center no-repeat;
    background-color: transparent;
    padding: 5px;
    transition: all 0.3s ease 0s;
    isolation: isolate;
}

.iframe-no-border-no-isolate {
    background: url(/images/loader.gif) center center no-repeat;
    background-color: transparent;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

.iframe-no-border-no-padding {
    background: url(/images/loader.gif) center center no-repeat;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    isolation: isolate;
}

.iframe-no-border-no-padding-no-isolate {
    background: url(/images/loader.gif) center center no-repeat;
    background-color: transparent;
    transition: all 0.3s ease 0s;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .5em;
    border: 5px solid #f2f2f2;
    background: url(/images/loader.gif) center center no-repeat;
    background-color: #f2f2f2;
    padding: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 4px 5px;
    isolation: isolate;
}

.stats-border {
    border-radius: .5em;
    border: 5px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 4px 5px;
    isolation: isolate;
}

.on-google-play,
.on-github {
    width: 300px;
    height: auto;
}

pre {
    border-radius: .5em;
    border: 5px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 4px 5px;
}

#mobile-arrows {
    display: none;
}

#mobile-text {
    display: block;
}

.custom-margin-bottom {
    margin-bottom: 30px;
}

@media screen and (min-width: 62.875em) {
    .page-header, .site-main .post-navigation {
        padding-bottom: 1rem;
    }
}

@media (max-width: 1005px) {
    .body-padding {
        margin-top: 12px;
    }

    .darkmode--activated .entry-header-bg {
        border-bottom: 1px solid #333 !important;
    }

    .entry-header-bg {
        border-bottom: 1px solid #d4d3d3 !important;
    }

    .entry-content {
        margin-top: -25px;
    }

    .site-header {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .site-footer {
        font-size: .9em;
        max-height: 50px;
        padding: 10px;
    }

    .site-branding {
        max-height: 30px;
    }

    .site-logo {
        max-height: 30px;
    }

    .menu-social {
        font-size: 1em;
        top: -5px;
    }

    .backer {
        font-size: .7em;
    }

    .backer-logo {
        max-height: 15px;
    }

    .copyright {
        font-size: .7em;
        top: 3px;
    }

    .plugin-thumb {
        display: none;
    }

    #mobile-arrows {
        display: inherit;
    }

    #mobile-text{
        display: none;
    }

    .iframe-weather {
        height: 420px;
    }

    .custom-margin-bottom {
        margin-bottom: 0;
    }
}
