html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: Montserrat, sans-serif;
	margin-top: 56px;
	background-color: #f5f7fa;
}
.navbar {
	box-shadow: 0 3px 8px 0 rgba(112, 130, 157, 0.08);
}
.bg-light {
	background-color: #fff !important;
}

/* Navigation */
#collapsible-navbar {
	display: none;
}
.navigation {
	background: #141926;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.navigation .row {
	padding-top: 5%;
}
.navigation .nav-link {
	position: relative;
	color: #fff !important;
	font-size: 3em;
}
.navigation .nav-link:hover {
	color: #5be7c4 !important;
}
.navigation .active .nav-link, .navigation .active i {
	color: #5be7c4 !important;
}
.navigation i {
	position: absolute;
	left: -100px;
	top: 20%;
}
.navbar-toggler {
	z-index: 10;
	position: relative;
}
.open-button {
	color: #141926;
}
.close-button {
	color: #fff;
}
.open-button, .close-button, .navbar-toggler {
	font-size: 1em;
}
#navigation-button:focus {
	outline: 0;
}
.navbar-light .navbar-toggler {
	border: 0 !important;
}

/* Grid system */
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-gap: 16px;
	grid-auto-rows: minmax(180px, auto);
	grid-auto-flow: dense;
	padding: 16px 8px 72px 8px;
}
.grid-item {
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}
.grid-item:hover {
	box-shadow: 0 8px 32px 0 rgba(112, 130, 157, 0.2);
}
.grid-item-content {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
}
.grid-item-content:hover > .grid-title {
	display: block;
}
.grid-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.grid-title {
	display: none;
	position: absolute;
	background: #fff;
	border-radius: 4px;
	padding: 10px;
	font-family: Eczar, sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	color: #70829d;
}

.grid-read-more {
	display: none;
	position: absolute;
	bottom: -60px;
	height: 70px;
	left: 0;
	right: 0;
	line-height: 70px;
	box-shadow: 0 8px 32px 0 rgba(112, 130, 157, 0.2);
	background-color: #f5f7fa;
}

/* Make grid responsive on mobile devices */
@media (max-width: 1024px) {
	.grid-container {
		grid-template-columns: none;
	}
}

.read-more-content {
	overflow: hidden;
	padding: 0 16px;
}
.medium {
	grid-column-end: span 2;
	grid-row-end: span 2;
}

.large {
	grid-column-end: span 3;
	grid-row-end: span 3;
}

/* Top project */
.top-project {
	background-color: #fff;
}
.top-project h2 {
	font-family: Eczar, sans-serif;
	font-size: 1.5em;
	color: #70829d;
	padding: 60px 0 40px 0;
}

/* Instagram section */
.instagram {
	background-color: #513d81;
	color: #fff;
}

.instagram-tile {
	margin-top: 10px;
}

.instagram .img-fluid {
	border-radius: 4px;
}

/* Top categories section */
.categories {
	background-color: #fff;
}
.categories ul {
	list-style: none;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.categories ul a {
	display: block;
	padding: 10px 0;
	color: #70829d;
}
.categories ul li {
	margin: 0 0 10px 0;
}
.categories ul li:after {
	content: "";
	display: block;
	width: 50%;
	border-bottom: 1px solid #e4e7eb;
}

/* Footer */
footer ul {
	list-style: none;
}
footer .footer-header {
	transform: rotate(90deg);
	transform-origin: left bottom 0;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #70829d;
    overflow: hidden;
    display: inline-block;
}
footer ul li
{
	font-family: Montserrat, sans-serif;
	color: #70829d;
}
footer ul li a, footer ul li a:hover {
	color: #70829d;
}

/* Page */
.page {
	background-color: #fff;
}
.coverimage-block {
	height: 768px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cover-description {
	font-family: Eczar, sans-serif;
	font-size: 4.5em;
	line-height: 1.4;
	font-weight: 600;
	color: white;
}
.page-content {
	font-size: 1.125em;
}
.page-cover-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

    /* General */
.underlined-heading {
	padding-bottom: 31px;
	margin-bottom: 42px;
	font-family: 'Eczar', serif;
	font-weight: 500;
	font-size: 2em;
}
@media (max-width: 1024px) {
	.underlined-heading {
		padding-bottom: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	.mobile-device-center {
		text-align: center;
	}
}
.white-h1 {
	color: #fff;
	border-bottom: 2px solid #fff;
}
.green-h1 {
	color: #5be7c4;
	border-bottom: 2px solid #5be7c4;
}
.small-h2 {
	font-family: 'Eczar', serif;
	font-weight: 500;
	font-size: 1.5em;
}

.clear-spacing-mobile {
	padding: 0 !important;
}
.text-purple {
    color: #513d81;
}