body {
    overflow: auto;
}
.hiddenOverflow {
    overflow: hidden;
}
.navigation .row {
    padding-top: 1%;
}
.plugin-content ul {
    list-style: none;
}
.plugin-content li a {
    position: relative;
    color: #fff;
    font-size: 3em;
    white-space: nowrap;
}
.plugin-navigation h2 {
    color: #e2e;
}
.plugin-categories h2 {
    color: #e2e;
}
.navigation {
    overflow: auto;
    padding-bottom: 30px;
}
.grid-item-content:hover > .grid-image {
    opacity: 40%;
}
.grid-title {
    background: #303030;
    color: #fff;
    font-size: 1.3em;
}
.mini-logo {
    height: 32px;
    width: auto;
}
.grid-image {
    background: #000;
}
.page-cover-image {
    background-size: 20%;
}
.page {
    height: 85vh;
}
.coverimage-block {
    height: 85% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iframe {
    display: block;
    width: 100vw;
    height: 85vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}
.grid-container {
    padding: 16px 8px 0 8px;
}

@media (max-width: 1024px) {
    .powered-by {
        font-size: .7em;
    }
    .powered-by img {
        width: 22px;
        height: auto;
    }
    .grid-image {
        opacity: 60%;
    }
    .grid-title {
        display: block;
        background: #303030;
        color: #fff;
        font-size: 1.5em;
    }
    .plugin-content li a {
        font-size: 2em;
    }
    .navigation .row {
        padding-top: 5%;
    }
}
